<mat-card>
    
  <mat-card-header>
    <div><i class="material-icons">fastfood</i></div>
    <mat-card-title>Cardápio I-Hamburgo</mat-card-title>
    <mat-card-subtitle>Escolha ou personalize o seu lanche</mat-card-subtitle>
  </mat-card-header>

  <mat-tab-group>
    <mat-tab label="Lanches">
        <div class="space-short"><mat-slide-toggle>X-Bacon - Bacon, hambúrguer de carne e queijo</mat-slide-toggle></div>
        <div class="space-short"><mat-slide-toggle>X-Burger - Hambúrguer de carne e queijo</mat-slide-toggle></div>
        <div class="space-short"><mat-slide-toggle>X-Egg - Ovo, hambúrguer de carne e queijo</mat-slide-toggle></div>
        <div class="space-short"><mat-slide-toggle>X-Egg Bacon - Ovo, bacon, hambúrguer de carne e queijo</mat-slide-toggle></div>
    </mat-tab>
    <mat-tab label="Personalizar">
        <div class="space-short"><mat-slide-toggle>Alface - R$ 0.40</mat-slide-toggle></div>
        <div class="space-short"><mat-slide-toggle>Bacon - R$ 2,00</mat-slide-toggle></div>
        <div class="space-short"><mat-slide-toggle>Hambúrguer de carne - R$ 3,00</mat-slide-toggle></div>
        <div class="space-short"><mat-slide-toggle>Ovo - R$ 0,80</mat-slide-toggle></div>
        <div class="space-short"><mat-slide-toggle>Queijo - R$ 1,50</mat-slide-toggle></div>
    </mat-tab>
    <mat-tab label="Promoções"> 
        <mat-list>
          <mat-list-item> Light - Se o lanche tem alface e não tem bacon, ganha 10% de desconto. </mat-list-item>
          <mat-list-item> Muita carne - A cada 3 porções de carne o cliente só paga 2. Se o lanche tiver 6 porções, ocliente pagará 4. Assim por diante... </mat-list-item>
          <mat-list-item> Muito queijo - A cada 3 porções de queijo o cliente só paga 2. Se o lanche tiver 6 porções, ocliente pagará 4. Assim por diante... </mat-list-item>
        </mat-list>
    </mat-tab>
  </mat-tab-group>

  <div class="space-long"></div>

  <mat-card>Total - R$0.00</mat-card>
</mat-card>

<router-outlet></router-outlet>
