<mat-card>
  <mat-card-header>
    <div><i class="material-icons">fastfood</i></div>
    <mat-card-title>{{menuName}}</mat-card-title>
    <mat-card-subtitle>{{menuDescryption}}}</mat-card-subtitle>
  </mat-card-header>

  <mat-tab-group>
    <mat-tab label="Lanches">
        <div class="space-short" *ngFor="let item of listHamburguers">
            <mat-checkbox [checked]="item.checked" 
                          (change)="onSelectItems(item, $event.checked)">{{item.name}} - {{item.descryption}}</mat-checkbox>
        </div>

        <button class="space-long" mat-raised-button color="primary" (click)="addHamburguersChecked()">{{buttonAddName}}</button>
    </mat-tab>

    <mat-tab label="Personalizar">
        <div class="space-short" *ngFor="let item of listIngredients">
            <mat-checkbox [checked]="item.checked" 
                          (change)="onSelectIngredients(item, $event.checked)">{{item.name}} - {{item.price}}</mat-checkbox>
        </div>

        <!-- Em desenvolvimento -->

        <button class="space-long" mat-raised-button color="primary" (click)="addCustomHamburguer()">{{buttonAddName}}</button>
    </mat-tab>
    <mat-tab label="Promoções"> 
      
        <mat-list>
          <div class="space-short" *ngFor="let item of listPromotions">
              <mat-list-item>{{item.name}} - {{item.descryption}}</mat-list-item>
          </div>
      </mat-list>
    </mat-tab>
  </mat-tab-group>

  <div class="space-long"></div>

  <mat-card>
    <mat-card-header>
      <div><i class="material-icons">chrome_reader_mode</i></div>
      <mat-card-title>Pedido</mat-card-title>
    </mat-card-header>
    
    <mat-divider></mat-divider>

    <mat-list>
      <mat-list-item *ngFor="let lanche of listOrders">
        <h3 matLine> {{lanche.name}} - {{lanche.type}}</h3>
      </mat-list-item>
    </mat-list>

    <mat-divider></mat-divider>
    
    <mat-card-header class="space-short">
      <mat-card-title>Total - R${{ totalLanches | number : '.2-2'}}</mat-card-title>
    </mat-card-header>
  </mat-card>
</mat-card>

<router-outlet></router-outlet>
